Loading step 1

In [1]:
from extract.extraction import CSVReader

df = CSVReader(r"C:\Users\CPKSoft\Desktop\proyectos\sepa_project\resources\transformed\completo_productos_step_1.csv", sep=",").load()

Columns

In [2]:
df.columns

Index(['id_comercio', 'id_bandera', 'id_sucursal', 'id_producto',
       'productos_ean', 'productos_descripcion',
       'productos_cantidad_presentacion',
       'productos_unidad_medida_presentacion', 'productos_marca',
       'productos_precio_lista', 'productos_precio_referencia',
       'productos_cantidad_referencia', 'productos_unidad_medida_referencia'],
      dtype='object')

Head

In [42]:
df.head()

,id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia
0,2007,1,1,4548736127661,1,XR-65A8OJ AR4,1.0,unidad,Sony,3599999.0,3599999.00,1.0,unidad
1,2007,1,1,4548736127623,1,KD-75X8OJ AR4,1.0,unidad,Sony,2499999.0,2499999.00,1.0,unidad
2,2007,1,1,4548736127630,1,KD-65X8OJ AR4,1.0,unidad,Sony,2199999.0,2199999.00,1.0,unidad
3,2007,1,1,4548736127647,1,KD-55X8OJ AR4,1.0,unidad,Sony,1999999.0,1999999.00,1.0,unidad
4,20,1,2,7790310007105,1,3D QUESO 165G.,165.0,gr,PEPSICO SNACKS,130.0,764.71,1.0,kg

Description

In [43]:
df.describe()

,id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_cantidad_presentacion,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia
count,1.017082e+07,1.017082e+07,1.017082e+07,1.017082e+07,1.017082e+07,1.017082e+07,1.017082e+07,1.017082e+07,1.017082e+07
mean,6.189826e+01,1.415887e+00,8.905591e+02,7.402529e+12,9.836364e-01,1.853705e+02,2.004144e+04,3.060917e+04,8.653954e+01
std,3.300460e+02,8.261593e-01,2.143313e+03,1.649296e+12,1.268693e-01,3.460715e+02,1.474779e+05,2.374289e+05,2.818474e+02
min,2.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,9.000000e+00,1.000000e+00,1.020000e+02,7.790311e+12,1.000000e+00,1.000000e+00,1.450000e+03,2.730000e+03,1.000000e+00
50%,1.100000e+01,1.000000e+00,2.470000e+02,7.791337e+12,1.000000e+00,2.000000e+01,2.479000e+03,6.500000e+03,1.000000e+00
75%,1.500000e+01,1.000000e+00,7.280000e+02,7.798016e+12,1.000000e+00,2.500000e+02,4.490000e+03,1.446667e+04,1.000000e+00
max,3.001000e+03,6.000000e+00,9.000000e+04,9.992018e+12,1.000000e+00,1.650000e+04,1.102500e+07,5.137000e+07,8.000000e+03

Info

10170822 entries

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10170822 entries, 0 to 10170821
Data columns (total 13 columns):
 #   Column                                Dtype
---  ------                                -----
 0   id_comercio                           int64
 1   id_bandera                            int64
 2   id_sucursal                           int64
 3   id_producto                           int64
 4   productos_ean                         int64
 5   productos_descripcion                 object
 6   productos_cantidad_presentacion       float64
 7   productos_unidad_medida_presentacion  object
 8   productos_marca                       object
 9   productos_precio_lista                float64
 10  productos_precio_referencia           float64
 11  productos_cantidad_referencia         float64
 12  productos_unidad_medida_referencia    object
dtypes: float64(4), int64(5), object(4)
memory usage: 1008.8+ MB

Null values

In [45]:
df.isnull().sum()

id_comercio                                  0
id_bandera                                   0
id_sucursal                                  0
id_producto                                  0
productos_ean                                0
productos_descripcion                        0
productos_cantidad_presentacion              0
productos_unidad_medida_presentacion       218
productos_marca                         158852
productos_precio_lista                       0
productos_precio_referencia                  0
productos_cantidad_referencia                0
productos_unidad_medida_referencia         218
dtype: int64

productos_marca Null analysis

In [21]:
df[df['productos_marca'].isnull()].head(10)

,Unnamed: 0,id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia
198716,198716,47,1,1,77956262,1,SAL FINA CELUSAL X250G.SALERO,250.0,gr,NaN,3672.0,14688.00,250.0,gr
198717,198717,47,1,1,5000281003160,1,W.GRAND OLD PARR X750ML 12 ANOS,750.0,ml,NaN,31000.0,41333.33,750.0,ml
198718,198718,47,1,1,5010106111925,1,W.BALLANTINES X1L.FINEST EST.,1.0,lt,NaN,42204.0,42204.00,1.0,lt
198719,198719,47,1,1,7790036020204,1,EDUL.SI DIET X250ML,250.0,ml,NaN,1823.0,7292.00,250.0,ml
198720,198720,47,1,1,7790036044323,1,VINO UVITA X1L.BLANCO,1.0,lt,NaN,1921.0,1921.00,1.0,lt
198721,198721,47,1,1,7790036046327,1,VINO UVITA X1L.TINTO,1.0,lt,NaN,1921.0,1921.00,1.0,lt
198722,198722,47,1,1,7790036068329,1,VINO UVITA X1L.TINTO DULCE,1.0,lt,NaN,1921.0,1921.00,1.0,lt
198723,198723,47,1,1,7790036114125,1,J.MOCORETA X1.5L.POMELO,1.0,lt,NaN,1440.0,960.00,1.0,lt
198724,198724,47,1,1,7790036115122,1,J.MOCORETA X1.5L.NARANJA,1.0,lt,NaN,1440.0,960.00,1.0,lt
198725,198725,47,1,1,7790036845265,1,VINO TALACASTO X1L.BLANCO,1.0,lt,NaN,1921.0,1921.00,1.0,lt

Can we infer the products_marca from the mode of the id_producto?

In [65]:
print(df['productos_marca'].isnull().sum())

158852

In [76]:
df[(df['id_producto'] == 77956262) & (df['productos_marca'].isna())]

,id_comercio,id_bandera,id_sucursal,id_producto,productos_ean,productos_descripcion,productos_cantidad_presentacion,productos_unidad_medida_presentacion,productos_marca,productos_precio_lista,productos_precio_referencia,productos_cantidad_referencia,productos_unidad_medida_referencia
198716,47,1,1,77956262,1,SAL FINA CELUSAL X250G.SALERO,250.0,gr,NaN,3672.0,14688.0,250.0,gr
204978,47,1,2,77956262,1,SAL FINA CELUSAL X250G.SALERO,250.0,gr,NaN,3672.0,14688.0,250.0,gr
211240,47,1,3,77956262,1,SAL FINA CELUSAL X250G.SALERO,250.0,gr,NaN,3672.0,14688.0,250.0,gr

Nan productos_marca replace by "Sin marca"

In [4]:
df['productos_marca'].fillna("Sin marca", inplace=True)

productos_unidad_medida_presentacion null analysis

In [6]:
df[df['productos_unidad_medida_presentacion'].isnull()].head(10)
df['productos_unidad_medida_presentacion'].fillna("Sin unidad de medida", inplace=True)

productos_unidad_medida_referencia null analysis

In [8]:
df[df['productos_unidad_medida_referencia'].isnull()].head(10)
df['productos_unidad_medida_referencia'].fillna("Sin unidad de medida referencia", inplace=True)

productos_unidad_medida_presentacion unify

In [102]:
df['productos_unidad_medida_presentacion'].unique()

array(['unidad', 'gr', 'unida', 'l', 'cm3', 'ml', 'kg', 'paque', 'm',
       'GR', 'KG', 'CC', 'UN', 'ML', 'LT', 'MT', 'L', 'G', 'PC', 'M2',
       'CS', 'CM3', 'CA', 'M', 'Sin unidad de medida', 'UNIDAD', 'lt',
       'un', 'cm', 'Unit(s)', 'lt.', 'un.', 'Kg ', 'KG ', 'gr.', 'cc.',
       'ml.', 'Pie', 'par', 'mt.', 'mi ', 'm2 ', 'dm3', 'hjs', 'Grm',
       'Kg', 'Cm3', 'Ml', 'Unid', 'UNI', 'KGM', 'CJ', 'GRM', 'EA', 'g',
       'cc', 'cu', 'kgr', 'm2', 'U', 'grm', 'kgm', 'cmq', 'uni', 'ltr',
       'mtr', 'cmt', 'dmq', 'pl', 'UD', 'CL', 'Kilo', 'Litro', 'Unidad',
       'Centimetro Cubico', 'Metros', 'Gramos', 'Mililitro',
       'centimetros', 'Gr', 'Lt', 'Un'], dtype=object)

productos_unidad_medida_presentacion units unify

In [9]:
# Define a dictionary to map various unit representations to their standardized form
unit_mapping = {
    # Units of mass
    'gr': 'g', 'GR': 'g', 'Gr': 'g', 'Grm': 'g', 'GRM': 'g', 'grm': 'g', 'Gramos': 'g',
    'kg': 'kg', 'KG': 'kg', 'Kg': 'kg', 'KG ': 'kg', 'Kg ': 'kg', 'kgr': 'kg', 'kgm': 'kg', 'KGM': 'kg', 'Kilo': 'kg',
    
    # Units of volume
    'l': 'L', 'L': 'L', 'LT': 'L', 'lt': 'L', 'lt.': 'L', 'ltr': 'L', 'Litro': 'L',
    'ml': 'mL', 'ML': 'mL', 'Ml': 'mL', 'ml.': 'mL', 'Mililitro': 'mL',
    'cl': 'cL', 'CL': 'cL',
    'cc': 'cm³', 'CC': 'cm³', 'cc.': 'cm³', 'cm3': 'cm³', 'CM3': 'cm³', 'Cm3': 'cm³', 'Centimetro Cubico': 'cm³',
    'dm3': 'dm³',
    
    # Units of length
    'm': 'm', 'M': 'm', 'MT': 'm', 'mt.': 'm', 'mtr': 'm', 'Metros': 'm',
    'cm': 'cm', 'cmt': 'cm', 'centimetros': 'cm',
    
    # Units of area
    'm2': 'm²', 'M2': 'm²', 'm2 ': 'm²', 'cmq': 'cm²', 'dmq': 'dm²',
    
    # Count units
    'unidad': 'unidad', 'unida': 'unidad', 'UN': 'unidad', 'UNIDAD': 'unidad', 'un': 'unidad', 'un.': 'unidad',
    'Unit(s)': 'unidad', 'Unid': 'unidad', 'UNI': 'unidad', 'uni': 'unidad', 'Unidad': 'unidad', 'U': 'unidad',
    'Un': 'unidad', 'EA': 'unidad', 'UD': 'unidad',
    
    # Other units
    'paque': 'paquete', 'PC': 'paquete',
    'CS': 'caja', 'CJ': 'caja', 'CA': 'caja',
    'par': 'par',
    'Pie': 'pie',
    'hjs': 'hoja',
    'pl': 'pliego',
    'cu': 'cubo',
    
    # Special cases
    'Sin unidad de medida': 'Sin unidad de medida',
    'mi ': 'mi',  # Assuming 'mi' stands for 'milla' (mile)
}

# Function to standardize units
def standardize_unit(unit):
    unit = unit.strip()  # Remove leading/trailing whitespace
    return unit_mapping.get(unit, unit)  # Return mapped unit or original if not in mapping

# Apply the standardization to the column
df['productos_unidad_medida_presentacion'] = df['productos_unidad_medida_presentacion'].apply(standardize_unit)

# Display unique values after standardization
print(df['productos_unidad_medida_presentacion'].unique())

# Count of each standardized unit
unit_counts = df['productos_unidad_medida_presentacion'].value_counts()
print("\nCount of each standardized unit:")
print(unit_counts)

['unidad' 'g' 'L' 'cm³' 'mL' 'kg' 'paquete' 'm' 'G' 'm²' 'caja'
 'Sin unidad de medida' 'cm' 'gr.' 'pie' 'par' 'mi' 'dm³' 'hoja' 'cubo'
 'cm²' 'dm²' 'pliego' 'cL' 'Lt']

Count of each standardized unit:
productos_unidad_medida_presentacion
unidad                  3026317
g                       2807247
kg                      1075438
mL                      1011059
L                        904747
cm³                      619451
gr.                      499139
cubo                     121065
cm²                       65322
m²                        18745
m                          6473
Lt                         2986
G                          2777
cL                         2086
pie                        1628
mi                         1306
pliego                     1125
par                         868
caja                        840
dm³                         786
cm                          684
paquete                     310
Sin unidad de medida        218
dm²                         202
hoja                          3
Name: count, dtype: int64

Creating new transformed products csv

In [10]:
df.to_csv(r"C:\Users\CPKSoft\Desktop\proyectos\sepa_project\resources\transformed\completo_productos_transformed.csv", index=True)